.card {
  margin-bottom: 8px;
  width: 100%;
  padding: 4px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .infoSection {
    display: flex;
    align-items: center;
  
    .avatar {
      margin-right: 12px;
    }
  }

  .addButton {
    &:hover {
      color: #303f9f;
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }

}